.swiper-margin{
  margin: 90px 150px 30px 150px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-size: cover;
  background-position: center center;
  transition: 0.8s linear;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide:hover {
  background-size: cover;
  background-position: center center;
  transition: 0.8s linear;
  transform: scale(1.1);
}
.swiper-slide:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-size: 220px;
  background-position: center bottom;
  filter: blur(8px);
  transition: 0.8s linear;
  }
  .swiper-slide:hover:before {
  filter: unset !important;
  transition: 0.8s linear;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
  color: #fff;
}


.img-swiper{
  width: 100%;
  object-fit: cover;
}
