<swiper [config]="config" class="swiper-margin">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let slide of slideData">
      <img class="img-swiper" src="{{slide.img}}" />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
