.dialog{
  position: relative;

  .button-cancel{
    position: absolute;
    top: 0%;
    right: -1%;
    z-index: 1;
  }

  .dialog-img{
    width: 100%;
    height: 105%;
    object-fit: cover;
    margin: 0px 0px 0px -8px;
  }

  .dialog-box-sizing{
    box-sizing: border-box;
    padding: 10px 60px 10px 0px;

    .dialog-title{
      font-family: Baloo2-bold;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 57px;

      color: #FF7800;

      box-sizing: border-box;
      padding: 0px 35px 0px 0px;
    }

    .dialog-hr{
      width: 100%;
      height: 2px;

      background: #FF7800;
    }

    .dialog-text{
      font-family: Baloo2-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      text-align: justify;

      margin-top: 12px;

      color: #000000;
    }

    .dialog-content{
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;

      .flex{
        display: flex;
        column-gap: 10px;

        font-family: Baloo2-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;

        color: #000000;
      }
    }
  }
}
