<div class="dialog" *ngFor="let news of arrNew">
  <mat-dialog-actions class="button-cancel">
    <button mat-icon-button mat-dialog-close color="warn">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-dialog-actions>
  <div class="row">
    <div class="col-md-6">
      <img class="dialog-img" src="{{news.img}}" >
    </div>
    <div class="col-md-6">
      <div class="dialog-box-sizing">
        <div class="dialog-title">{{news.name}}</div>
      <div class="dialog-hr"></div>
      <div class="dialog-text">
        <p>{{news.text}}</p>
        <p>{{news.text1}}</p>
      </div>
      <div class="dialog-content">
        <div class="flex">
          <div><img src="../../../../../../../assets/Images/Discount.png" alt=""></div>
          <div>{{news.discount}}</div>
        </div>
        <div class="flex">
          <div><img src="../../../../../../../assets/Images/TimeSpan.png" alt=""></div>
          <div>Áp dụng từ ngày: {{news.time}}</div>
        </div>
        <div class="flex">
          <div><img src="../../../../../../../assets/Images/Shop.png" alt=""></div>
          <div>{{news.map}}</div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
