<div class="news">
    <div class="news-title">fruitee <br> hot deal</div>
    <div class="news-list">
      <div class="row">
        <div class="col-md-3" *ngFor="let newss of news">
          <img class="img" src="{{newss.img}}" (click)="showOn(newss)"/>
          <h3 class="title">{{newss.name}}</h3>
          <div class="flex">
            <div class="flex-item">
              <div><img class="img-item" src="../../../../../../assets/Images/Time Span.png" alt="time"></div>
              <div>{{newss.time}}</div>
            </div>
            <div class="flex-item">
              <div><img class="img-item" src="../../../../../../assets/Images/Place Marker.png" alt="map"></div>
              <div>{{newss.map}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
