.news{
  .news-title{
    display: block;
    margin: auto;
    width: 400px;
    height: 200px;

    background: linear-gradient(257.55deg, #FF7800 -3.17%, #D9E021 98.51%);
    border: 20px solid #FFFFFF;


    font-family: LilitaOne-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;


    box-sizing: border-box;
    padding: 25px 0px;
    color: #FFFFFF;
  }

  .news-list{
    box-sizing: border-box;
    padding: 0px 150px;

    .row{
      row-gap: 30px;
      margin: 50px 0px;

      .img{
        width: 100%;
        object-fit: cover;

        cursor: pointer;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      .title{
        font-family: Baloo2-bold;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        text-align: justify;

        color: #808080;

        margin-top: 15px;
        letter-spacing: 0;
        height: unset;
      }

      .flex{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;


        .flex-item{
          display: flex;
          column-gap: 10px;

          .img-item{
            // width: 100%;
            object-fit: cover;
          }

          font-family: Baloo2-regular;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 28px;

          color: #808080;
        }
      }
    }
  }
}
