// .menu{
//   position: relative;
//   width: 100%;

//   .grid-template-menu{
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-column-gap: 200px;


//     .item-menu-1{
//       order: 1;

//       .menu-1{
//         width: 100%;
//         height: 720px;
//         box-sizing: border-box;
//         padding: 145px 0px 145px 10px;

//         .title{
//         font-family: LilitaOne-Regular;
//         font-style: normal;
//         font-weight: bolder;
//         font-size: 80px;
//         line-height: 100px;
//         text-transform: uppercase;
//         text-align: right;
//         letter-spacing: 0.4em;
//         color: #D9E021;
//         text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
//         }

//         .content{
//           position: relative;
//           left: 16%;
//           width: 400px;
//           height: 100px;

//           background: #D9E021;
//           box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

//           //money 25000đ
//           font-family: Baloo2-bold;
//           font-style: normal;
//           font-weight: normal;
//           font-size: 64px;
//           line-height: 100px;
//           /* identical to box height, or 156% */

//           text-align: center;
//           letter-spacing: 0.2em;

//           color: #F9F9F9;
//         }
//       }
//     }

//     .item-menu-2{
//       order: 2;

//       .menu-2{
//         position: relative;
//         width: 100%;
//         height: 720px;
//         background: linear-gradient(79.95deg, #D9E021 7.23%, #FFFFFF 92.21%);

//         .img-menu-2{
//           position: absolute;
//           top: 10%;
//           left: -30%;
//           width: 80%;
//           object-fit: cover;
//         }

//         .text{
//           position: absolute;
//           top: 45%;
//           left: 14%;
//           font-family: Lilita One;
//           font-style: normal;
//           font-weight: normal;
//           font-size: 36px;
//           line-height: 50px;
//           /* or 139% */
//           text-transform: uppercase;
//           letter-spacing: 0.4em;

//           color: #FFFFFF;

//           text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//         }
//       }
//     }
// ;
//     .item-menu-3{
//       order: 3;
//       position: relative;

//       .menu-3{
//         position: relative;
//         width: 100%;
//         height: 720px;
//         background: linear-gradient(270deg, #FF5F5A 0%, #FFFFFF 109.44%);

//         .img-menu-3{
//           position: absolute;
//           top: 13%;
//           right: -35%;
//           width: 80%;
//           object-fit: cover;
//         }

//         .text{
//           position: absolute;
//           top: 45%;
//           right: 13%;
//           font-family: Lilita One;
//           font-style: normal;
//           font-weight: normal;
//           font-size: 36px;
//           line-height: 50px;
//           /* or 139% */
//           text-transform: uppercase;
//           text-align: right;
//           letter-spacing: 0.4em;

//           color: #FFFFFF;

//           text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//         }
//       }
//     }

//     .item-menu-3::after{
//       content: 'MENU';
//       position: absolute;
//       top: -7%;
//       left: 100%;
//       width: 200px;
//       height: 94px;

//       background: linear-gradient(81.59deg, #FF615C 17.47%, #D9E021 80.66%);
//       box-sizing: border-box;
//       padding: 25px 47px;
//       color: #fff;
//       text-transform: uppercase;
//       font-family: Lilita One;
//       font-style: normal;
//       font-weight: 700;
//       font-size: 36px;
//       line-height: 50px;
//     }

//     .item-menu-4{
//       order: 4;

//       .menu-4{
//         width: 100%;
//         height: 720px;
//         box-sizing: border-box;
//         padding: 145px 100px 145px 135px;

//         .title{
//           font-family: LilitaOne-Regular;
//           font-style: normal;
//           font-weight: bolder;
//           font-size: 80px;
//           line-height: 100px;
//           text-transform: uppercase;
//           text-align: left;
//           letter-spacing: 0.4em;
//           color: #FF5F5A;

//           text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//         }

//         .content{
//           position: relative;
//           width: 400px;
//           height: 100px;

//           background: #FF5F5A;
//           box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

//           //money 25000đ
//           font-family: Baloo2-bold;
//           font-style: normal;
//           font-weight: normal;
//           font-size: 64px;
//           line-height: 100px;
//           /* identical to box height, or 156% */

//           text-align: center;
//           letter-spacing: 0.2em;

//           color: #F9F9F9;
//         }
//       }
//     }
//   }
// }
