.carousel{
  position: relative;
  width: 100%;

  &-img{
    width: 100%;
    object-fit: cover;
  }

  &-title{
    position: absolute;
    top: 30%;
    left: 30%;

    .title{
      font-family: BowlbyOneSC;
      font-style: normal;
      font-weight: normal;
      font-size: 72px;
      line-height: 110px;
      text-align: center;
      letter-spacing: 0.5em;

      color: #FFFFFF
    }
  }
}
