<div class="carousel">
  <img class="carousel-img" src="../../../../../../assets/Images/bg.png" alt="banner">
  <div class="carousel-title">
    <h3 class="title">Fruitee <br> Vietnam</h3>
  </div>
</div>
