<!-- <swiper
[slidesPerView]="1.5"
[spaceBetween]="30"
(swiper)="onSwiper($event)"
(slideChange)="onSlideChange()"
[pagination]="{ clickable: true }"
>
<ng-template swiperSlide><img class="img-swiper" src="../../../../../../assets/Images/main img.png"></ng-template>
<ng-template swiperSlide><img class="img-swiper" src="../../../../../../assets/Images/main img.png"></ng-template>
<ng-template swiperSlide><img class="img-swiper" src="../../../../../../assets/Images/main img.png"></ng-template>
<ng-template swiperSlide><img class="img-swiper" src="../../../../../../assets/Images/main img.png"></ng-template>
</swiper> -->

<swiper [config]="config">

  <div class="swiper-wrapper">

    <div class="swiper-slide" *ngFor="let slide of slideData">
      <img class="img-swiper" src="{{slide.img}}" />
    </div>

  </div>

  <!-- Add Pagination -->
  <!-- <div class="swiper-pagination"></div> -->

  <!-- Add Arrows -->
  <!-- <div class="swiper-button-next"></div> -->
  <!-- <div class="swiper-button-prev"></div> -->

</swiper>
