<div class="carousel">
  <div class="row">
    <div class="col-md-6">
      <div class="form-carousel pd-form">
        <form [formGroup]="formContact" (submit)="submitContact()">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-7">
                  <input type="text" class="input-text" placeholder="Họ và tên" formControlName="name" [ngClass]="{'is-invalid':formContact.get('name').touched && formContact.get('name').invalid}">
                  <div *ngIf="formContact.get('name').touched && formContact.get('name').invalid" class="invalid-feedback">
                    <div *ngIf="formContact.get('name').errors.required">Vui lòng nhập họ và tên</div>
                  </div>
                </div>
                <div class="col-md-5">
                  <input type="number" class="input-phone" placeholder="Số điện thoại" formControlName="phone" [ngClass]="{'is-invalid':formContact.get('phone').touched && formContact.get('phone').invalid}">
                  <div *ngIf="formContact.get('phone').touched && formContact.get('phone').invalid" class="invalid-feedback">
                    <div *ngIf="formContact.get('phone').errors.required">Yêu cầu nhập điện thoại</div>
                    <div *ngIf="formContact.get('phone').errors.pattern">Yêu cầu nhập đủ 10 - 12 số</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <input type="text" class="input-email" placeholder="Địa chỉ email" formControlName="email" [ngClass]="{'is-invalid':formContact.get('email').touched && formContact.get('email').invalid}">
              <div *ngIf="formContact.get('email').touched && formContact.get('email').invalid" class="invalid-feedback">
                <div *ngIf="formContact.get('email').errors.required">Vui lòng nhập email</div>
                <div *ngIf="formContact.get('email').errors.email">Email phải là một địa chỉ email hợp lệ!</div>
              </div>
            </div>
            <div class="col-md-12">
              <textarea class="textarea" cols="30" rows="10" placeholder="Nội dung" formControlName="text" [ngClass]="{'is-invalid':formContact.get('text').touched && formContact.get('text').invalid}"></textarea>
              <div *ngIf="formContact.get('text').touched && formContact.get('text').invalid" class="invalid-feedback">
                <div *ngIf="formContact.get('text').errors.required">Vui lòng nhập nội dung yêu cầu liên lạc.</div>
              </div>
            </div>
          </div>
          <button class="button-sent">
            <div class="text">Gửi</div>
          </button>
          <div *ngIf="error" class="alert mb-0 form-error text-center">{{error}}</div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="title-carousel">
        KEEP IN TOUCH WITH FRUITEE
      </div>
    </div>
  </div>
</div>
