@media (min-width: 1401px) {
  .nav-menu{
    display: block;
  }

  .navbar-side{
    display: none;
  }
}

@media (max-width: 1400px) {
  .nav-menu{
    display: block;
  }

  .navbar-side{
    display: none;
  }

}

@media (max-width: 1366px) {
  .nav-menu{
    display: block;
  }

  .navbar-side{
    display: none;
  }

}

