@media (max-width: 1024px) {
  .nav-menu{
    display: none;
  }

  .navbar-side{
    display: block;
  }

  //footer
  .footer {
    padding: 50px 60px 0px 60px;
  }

  .footer .row .col-md-6 .footer-title {
    font-size: 20px;
  }

  .footer .row .col-md-3 .footer-title {
    font-size: 20px;
  }

  .footer .row .col-md-6 .footer-content {
    font-size: 15px;
  }

  .footer .row .col-md-3 .col-md-6 ul.footer-items .footer-link {
    font-size: 15px;
  }

  .footer .row .col-md-3 .col-md-12 .footer-connect {
    font-size: 15px;
  }

  //home carousel
  .carousel-boxsizing {
    padding: 60px;
  }

  .title {
    font-size: 50px;
    line-height: 80px;
  }

  .promotion-fruitee {
    margin-top: 0px;
  }

  .promotion-title {
    font-size: 20px;
  }

  .promotion-input {
    width: 55%;
  }

  .promotion-brand{
    width: 100%;
    object-fit: cover;

    img{
      position: absolute;
      right: 0px;
      width: 100%;
      object-fit: cover;
    }
  }

  //home swiper-about
  .introduce-product {
    padding: 0px 60px 0px 20px;
  }

  .title-product {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 10px;
  }

  .content-product {
    font-size: 15px;
    line-height: 28px;
  }

  .button-product {
    margin-top: 10px;
  }

  .button-product button {
    font-size: 15px;
  }

  //home dialog-bout
  .flex h2 {
    font-size: 24px;
  }

  .mat-typography h3 {
    font-size: 17px;
  }

  .mat-typography p {
    font-size: 15px;
  }

  //home menu
  .menu .grid-template-menu {
    grid-template-columns: repeat(1, 1fr);
  }

  .menu .grid-template-menu .item-menu-1 .menu-1 {
    height: 100%;
    padding: unset;
    padding-bottom: 145px;
  }

  .menu .grid-template-menu .item-menu-1 .menu-1 .title {
    font-size: 55px;
    text-align: center;
  }

  .menu .grid-template-menu .item-menu-1 .menu-1 .content {
    position: absolute;
    top: 35%;
    left: unset;
    right: 0%;
    width: 300px;
    height: 80px;
    font-size: 38px;
    line-height: 80px;
  }

  .menu .grid-template-menu .item-menu-2 .menu-2 {
    height: 250px;
    background: #D9E021;
  }

  .menu .grid-template-menu .item-menu-2 .menu-2 .img-menu-2 {
    position: unset;
    transform: translate(70px,-135px);
    width: 50%;
    object-fit: cover;
  }

  .menu .grid-template-menu .item-menu-2 .menu-2 .text {
    top: 30%;
    left: 65%;
  }

  .menu .grid-template-menu .item-menu-3 {
    order: 4;
  }

  .menu .grid-template-menu .item-menu-4 {
    order: 3;
    position: relative;
  }

  .menu .grid-template-menu .item-menu-4 .menu-4 {
    height: 100%;
    padding: unset;
    margin-top: 145px;
    padding-bottom: 145px;
}

  .menu .grid-template-menu .item-menu-4 .menu-4 .title {
    font-size: 55px;
    text-align: center;
  }

  .menu .grid-template-menu .item-menu-4 .menu-4 .content {
    position: absolute;
    top: 22%;
    width: 300px;
    height: 80px;
    font-size: 38px;
    line-height: 80px;
  }

  .menu .grid-template-menu .item-menu-3 .menu-3 {
    height: 250px;
    background: #FF5F5A;
    margin-bottom: 145px;
  }

  .menu .grid-template-menu .item-menu-3 .menu-3 .img-menu-3 {
    position: unset;
    transform: translate(470px,-135px);
    width: 50%;
    object-fit: cover;
  }

  .menu .grid-template-menu .item-menu-3 .menu-3 .text {
    top: 30%;
    right: 65%;
  }

   //home menu
    .maps .maps-list {
      top: 5%;
      right: 5%;
      width: 300px;
      height: 564px;

      .col-md-3{
        padding-right: 0px;
      }

      .col-md-9{
        padding-left: 0px;
      }
    }

    .maps .maps-list .maps-item .maps-link .maps-title {
      font-size: 18px;
      margin-bottom: 0px;
    }

    .maps .maps-list .maps-item .maps-link .maps-text {
      font-size: 16px;
      margin: 5px 0px;
    }


    //------------------------------------About---------------------------

}
