<div class="dialog" *ngFor="let product of arrNew">
  <mat-dialog-actions class="button-cancel">
    <button mat-icon-button mat-dialog-close color="warn">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-dialog-actions>
  <div class="row">
    <div class="col-md-5">
      <img class="dialog-img" [src] = "product.img"/>
    </div>
    <div class="col-md-7">
      <div class="dialog-title">{{product.name}}</div>
      <div class="dialog-trans">{{product.nametrans}}</div>
      <div class="dialog-hr"></div>
      <div class="dialog-capacity">
        <img class="img" src="../../../../../../../assets/Images/Coffee to Go.png" alt="">
        {{product.capacity}}
      </div>
      <div class="dialog-money">
        <div *ngIf="product.price1 !== null">
          <div class="price">
            <img class="img" src="../../../../../../../assets/Images/Coins.png" alt="">
            {{product.price | number:0}}đ - {{product.price1 | number:0}}đ
          </div>
        </div>
        <div *ngIf="product.price1 === null">
          <div class="price">
            <img class="img" src="../../../../../../../assets/Images/Coins.png" alt="">
            {{product.price | number:0}}đ
          </div>
        </div>
      </div>
      <div class="dialog-text">
        <p>{{product.text}}</p>
      </div>
      <div class="dialog-utility">
        <img class="img" src="../../../../../../../assets/Images/Light On.png" alt="">
        {{product.utility}}
      </div>
    </div>
  </div>
</div>
