.info-contact{
  position: relative;
  width: 100%;

  .col-md-6{
    padding: 0px;
  }

  .info{
    width: 100%;

    .img-info{
      width: 100%;
      height: 720px;
      object-fit: cover;
    }

    .content{
      box-sizing: border-box;
      padding: 116px 150px 116px 90px;

      .item{
        .title{
          height: unset;
          font-family: Baloo2-bold;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 28px;
          text-align: justify;
          letter-spacing: 0.1em;
          color: #808080;

          margin-bottom: 15px;
        }

        .text{
          font-family: Baloo2-regular;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;


          color: #808080;

          margin-bottom: 30px;

          p{ margin: 0px;}
          span{
            font-family: Baloo2-bold;
            font-style: normal;
            font-weight: normal;
            color: #FF7800;
          }
        }
      }
    }
  }

  .maps{
    position: relative;
    width: 100%;
    height: 720px;

    .iframe-maps{
      width: 100%;
      height: 100%;
    }

    .maps-list{
      position: absolute;
      top: 10%;
      right: 10%;
      width: 500px;
      background-color: #fff;

      .maps-item{
        list-style-type: none;
        padding: 0;

        .maps-link{
            display: block;
            padding: .5rem 1rem;
            text-decoration: none;
            color: #808080;

            .maps-shop{
              margin-top: 10px;

              .maps-img{
                display: block;
                margin: auto;
                width: 70%;
                object-fit: cover;
              }
            }

            .maps-title{
              font-family: Baloo2-bold;
              font-style: normal;
              font-weight: normal;
              font-size: 24px;
              line-height: 38px;
            }

        }
      }
    }
  }

  .active{
    background: linear-gradient(270deg, #D9E021 0%, #FF7800 100%);
    color:#fff !important;
  }
}
