// .nav-menu{
//   position: fixed;
//   z-index: 1;
//   width: 100%;
//   height: 60px;
//   left: 0px;
//   top: 0px;
//   background: linear-gradient(89.79deg, #FF7800 0.36%, #D9E021 111.98%);
// }

// .nav-boxsizing{
//   box-sizing: border-box;
//   padding: 10px 100px;
//   display: flex;
//   z-index: 10;
// }

// .navbar-fruitee{
//   width: 30%;
//   font-family: BowlbyOneSC;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 24px;
//   line-height: 37px;
//   text-transform: uppercase;
// }

// .navbar-fruitee .navbar-link-menu{
//   text-decoration: none;
//   color: #FFFFFF;
// }

// .navbar-collapse-menu {
//   position: relative;
//   width: 70%;
//   box-sizing: border-box;
//   display: flex;
//   justify-content: flex-end;
// }

// .navbar-menu{
//   display: flex;
//   list-style-type: none;
// }

// .navbar-menu .nav-item-menu{
//   font-family:  Baloo2-regular;
//   font-style: normal;
//   font-weight: 800;
//   font-size: 18px;
//   line-height: 28px;
//   text-transform: uppercase;
//   box-sizing: border-box;
//   padding-right: 30px;
// }

// .navbar-menu .nav-item-menu .navbar-link-menu{
//   text-decoration: none;
//   color: #FFFFFF;
// }

// li.nav-item-menu.active > a{
//   color: #FAFF00 !important;
// }

