<div class="carousel-home carousel-boxsizing">
  <div class="row">
    <div class="col-md-8">
      <div class="title">
        <p>Drink it</p>
        <p>Share it</p>
        <p>Loving it</p>
    </div>
    <div class="promotion-fruitee">
      <p class="promotion-title">Nhập khuyến mãi khủng từ Fruitee VietNam</p>
      <div class="promotion-email">
       <form [formGroup]="formEmail" (submit)="submitEmail()">
        <input class="promotion-input" type="email" placeholder="Nhập email của bạn..." formControlName="email" [ngClass]="{'is-invalid':formEmail.get('email').touched && formEmail.get('email').invalid}" >
        <button class="promotion-button" >Gửi</button>
        <div *ngIf="formEmail.get('email').touched && formEmail.get('email').invalid" class="invalid-feedback">
          <div *ngIf="formEmail.get('email').errors.required">Yêu cầu nhập email!</div>
          <div *ngIf="formEmail.get('email').errors.email">Email phải là một địa chỉ email hợp lệ!</div>
        </div>
       </form>
      </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="promotion-brand">
        <img src="../../../../../assets/Images/brand.png" alt="brand-fruitee">
      </div>
    </div>
  </div>
</div>
