<div class="container-fluid">
  <app-carousel></app-carousel>
  <div class="row box-sizing-110">
    <div class="col-md-6">
      <app-swiper-slide></app-swiper-slide>
    </div>
    <div class="col-md-6">
      <app-swiper-about></app-swiper-about>
    </div>
  </div>
  <app-menu></app-menu>
  <app-maps></app-maps>
</div>
