.flex{
  display: flex;
  justify-content: space-between;

  .mat-icon-button {
    margin-top: -35px;
  }

  h2{
    font-family: Baloo2-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 57px;

    color: #808080;
  }
}

.mat-typography{
  .img-about{
    display: block;
    margin: auto;
    width: 30%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  h3{
    font-family: Baloo2-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;

    color: #808080;
  }

  p{
    font-family: Baloo2-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;

    color: #808080;
  }
}
