.maps{
  position: relative;
  width: 100%;
  height: 720px;

  .iframe-maps{
    width: 100%;
    height: 100%;
  }

  .maps-list{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 500px;
    height: 592px;
    background-color: #fff;

    .maps-item{
      list-style-type: none;
      padding: 0;

      .maps-link{
          display: block;
          padding: .5rem 1rem;
          text-decoration: none;
          color: #808080;

          .maps-shop{
            margin-top: 10px;

            .maps-img{
              display: block;
              margin: auto;
              width: 70%;
              object-fit: cover;
            }
          }

          .maps-title{
            font-family: Baloo2-bold;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 38px;
          }

          .maps-text{
            font-family: Baloo2-regular;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
          }
      }
    }
  }
}

.maps-link.active{
  background: linear-gradient(270deg, #D9E021 0%, #FF7800 100%);
  color:#fff !important;
}
