.introduce-product{
  box-sizing: border-box;
  padding: 0px 153px 0px 20px;
}

.title-product{
  font-family: Baloo2-bold;
  font-style: normal;
  font-weight: normal;
  font-size: 26px; /*36px*/
  line-height: 57px;

  color: #808080;
  margin-bottom: 50px;
}

.content-product{
  font-family: Baloo2-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: justify;

  color: #808080;
}

.content-product > p:last-child{
  margin-top: 30px;
}

.button-product{
  margin-top: 40px;
}

.button-product button{
  margin-top: 10px;
  box-sizing: border-box;
  padding: 8px 17px;
  background: #D9E021;
  border: 1px solid #D9E021;
  cursor: pointer;

  font-family: Baloo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  box-shadow: 0px 3px 7px #5f5d5d75;
}
