.carousel{
  position: relative;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(99.85deg, #FF7800 0%, #D9E021 100%);

  //margin
  margin-bottom: 100px;

  &-img{
    width: 100%;
    object-fit: cover;
  }

  &-title{
    position: absolute;
    top: 42%;
    left: 41%;
    font-family: Lilita One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  }

  &-title::after{
    content: '';
    position: absolute;
    top: -147%;
    right: -87%;
    width: 5px;
    height: 400px;

    background: #fff;
  }

  &-content{
    box-sizing: border-box;
    padding: 100px 0px 0px 175px;

    .title{
      font-family: LilitaOne-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: 72px;
      line-height: 100px;

      letter-spacing: 0.4em;
      text-transform: uppercase;

      color: #FFFFFF;
    }

    .content{
      width: 359px;
      height: 90px;

      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


      font-family: Baloo2-bold;
      font-style: normal;
      font-weight: normal;
      font-size: 64px;
      line-height: 100px;
      text-align: center;
      letter-spacing: 0.2em;

      color: #EDBC55;
    }
  }

  &-fruitee-menu{
    position: absolute;
    bottom: -13%;
    left: 36%;
    width: 400px;
    height: 200px;

    background: linear-gradient(257.55deg, #FF7800 -3.17%, #D9E021 98.51%);
    border: 20px solid #FFFFFF;

    box-sizing: border-box;
    padding: 26px 0;

    //text
    .fruitee-menu{
      font-family: LilitaOne-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 55px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.4em;

      color: #FFFFFF;
    }
  }
}

.carousel-boxsizing{
  box-sizing: border-box;
  padding: 100px;
}
