<div class="introduce-product">
  <div class="title-product">
    <h2 class="title-product">Một ly nước ngon nhất cần các thành phần tốt nhất</h2>
  </div>
  <div class="content-product">
    <p>Sản phẩm của chúng tôi được làm từ lá trà chất lượng cao và các thành phần được chọn lọc kỹ càng trực tiếp từ Thái Nguyên.</p>
    <p> Chúng tôi kiểm tra lá trà mỗi mùa vụ và tất cả các thành phần theo thời gian để đảm bảo thức uống của chúng tôi luôn phù hợp và chất lượng, bảo đảm 100% tươi và ngon. ​</p>
  </div>
  <div class="button-product">
    <button (click)="openDialog()">Xem thêm</button>
  </div>
</div>
