<body>
  <div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
      <mat-toolbar color="primary" fxLayoutAlign="center center">Register</mat-toolbar>
      <form fxLayoutAlign="streth" fxLayout="column" [formGroup]="formRegister" (submit)="submitRegister()">
        <mat-form-field>
          <input matInput placeholder="Fullname" formControlName="fullName" [ngClass]="{'is-invalid':formRegister.get('fullName').touched && formRegister.get('fullName').invalid}">
          <div class="invalid-feedback">
            <div *ngIf="formRegister.get('fullName').errors.required">FullName is required</div>
          </div>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" [ngClass]="{'is-invalid':formRegister.get('email').touched && formRegister.get('email').invalid}">
          <div *ngIf="formRegister.get('email').touched && formRegister.get('email').invalid" class="invalid-feedback">
            <div *ngIf="formRegister.get('email').errors.required">Email Name is required</div>
            <div *ngIf="formRegister.get('email').errors.email">Email must be a valid email Address</div>
          </div>
        </mat-form-field>


        <mat-form-field >
          <input type="password" matInput placeholder="Password" formControlName="password" [ngClass]="{'is-invalid':formRegister.get('password').touched && formRegister.get('password').invalid}">
          <div *ngIf="formRegister.get('password').touched && formRegister.get('password').invalid" class="invalid-feedback">
            <div *ngIf="formRegister.get('password').errors.required">Password is required</div>
            <div *ngIf="formRegister.get('password').errors.minlength">Password must be a letaset 6 charector </div>
          </div>
        </mat-form-field>

        <mat-form-field >
          <input type="password" matInput placeholder="Password" formControlName="rePassword" [ngClass]="{'is-invalid':formRegister.get('rePassword').touched && formRegister.get('rePassword').invalid}">
          <div *ngIf="formRegister.get('rePassword').touched && formRegister.get('rePassword').invalid" class="invalid-feedback">
            <div *ngIf="formRegister.get('rePassword').errors.required">Password is required</div>
            <div *ngIf="formRegister.get('rePassword').errors.minlength">Password must be a letaset 6 charector </div>
          </div>
        </mat-form-field>

        <div class="example-button-row" fxLayoutAlign="center">
          <button mat-raised-button color="primary">Register</button>
          <button mat-button [routerLink]="'/login'">Login</button>
        </div>
        <div *ngIf="error" class="alert mb-0 form-error text-center">{{error}}</div>
      </form>
    </mat-card>
  </div>

</body>
