<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard/product']">
        <span class="material-icons pd-right-10">production_quantity_limits</span>Quản lý sản phẩm</a>
      <a mat-list-item [routerLink]="['/dashboard/category']">
        <span class="material-icons pd-right-10">category</span>Loại sản phẩm</a>
      <a mat-list-item [routerLink]="['/dashboard/product']">
        <span class="material-icons pd-right-10">post_add</span>Quản lý tin tức</a>
      <a mat-list-item [routerLink]="['/dashboard/product']">
        <span class="material-icons pd-right-10">contacts</span>Quản lý liên hệ</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Fruitee VietNam</span>
      <span class="example-spacer"></span>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon matBadge="6" matBadgeColor="warn">notifications</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon matBadge="15" matBadgeColor="warn">chat_bubble</mat-icon>
      </button>
      <div class="dropdown" appDropdown>
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>manage_accounts</mat-icon>
          </button><span>Amin Mohammad</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Xem thông tin tài khoản</a>
          <a class="dropdown-item" href="#">Sửa thông tin tài khoản</a>
          <a class="dropdown-item" href="#">Đăng xuất</a>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
