/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper-bundle";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*sass*/
@import "./assets/sass/var";
@import "./assets/sass/base";
@import "./assets/sass/modules";
@import "./assets/sass/responsive";

/* You can add global styles to this file, and also import other style files */

// @font-face {
//   font-family: BowlbyOneSC;
//   src: url(../../angular-fruitee/src/assets/font/BowlbyOneSC-Regular.ttf);
// }

// @font-face {
//   font-family: Baloo2-regular;
//   src: url(../../angular-fruitee/src/assets/font/Baloo2-Regular.ttf);
// }

// @font-face {
//   font-family: Baloo2-bold;
//   src: url(../../angular-fruitee/src/assets/font/Baloo2-Bold.ttf);
// }

// @font-face {
//   font-family: Baloo2-extraBold;
//   src: url(../../angular-fruitee/src/assets/font/Baloo2-ExtraBold.ttf);
// }

// @font-face {
//   font-family: Baloo2-medium;
//   src: url(../../angular-fruitee/src/assets/font/Baloo2-Medium.ttf);
// }

// @font-face {
//   font-family: Baloo2-SemiBold;
//   src: url(../../angular-fruitee/src/assets/font/Baloo2-SemiBold.ttf);
// }

// @font-face {
//   font-family: LilitaOne-Regular;
//   src: url(../../angular-fruitee/src/assets/font/LilitaOne-Regular.ttf);
// }

// @font-face {
//   font-family: BadScript;
//   src: url(../../angular-fruitee/src/assets/font/BadScript-Regular.ttf);
// }

mat-dialog-container {
  display: block;
  padding: 0px !important;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden !important;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

mat-dialog-actions {
  padding: 8px 30px !important;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: -24px;
}

mat-dialog-content {
  display: block;
  margin: 0px !important;
  padding: 0 30px !important;
  max-height: 65vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
