.footer{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 150px 0px 150px;
  background: linear-gradient(273.15deg, #FF7800 0%, #D9E021 100%);

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;

    .col-md-6{
      .footer-title{
        font-family: BowlbyOneSC;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 37px;
        /* identical to box height */


        color: #FFFFFF;
      }

      .footer-content{
        font-family: Baloo2-regular;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 35px;
        /* or 194% */

        text-align: justify;

        color: #FFFFFF;
      }
    }

    .col-md-3{
      .footer-title{
        font-family: BowlbyOneSC;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 37px;
        /* identical to box height */


        color: #FFFFFF;
      }


      //col-md-3 quick link

      .col-md-6{
        padding-right: 0px;
        padding-left: 0px;
          ul.footer-items {
            list-style: none;
            padding: 0px;

            .footer-link{
              display: block;
              padding: .2rem 0rem;
              text-decoration: none;
              text-transform: uppercase;

              font-family: Baloo2-medium;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 28px;

              color: #FFFFFF;
            }

            .footer-link:hover{
              color: #D9E021;
              cursor: pointer;
              font-size: 20px;
              transition: 0.4s;
              // background-color: linear-gradient(273.15deg, #FF7800 0%, #D9E021 100%);
              // -webkit-background-clip: text;
              // -webkit-text-fill-color: transparent;
            }
          }
      }

      //col-md-3 connect to us
      .col-md-12{
        padding-right: 0px;
        padding-left: 0px;
        .footer-icon{
          width: 10%;
          object-fit: cover;
          margin-right: 10px;
        }

        .footer-connect{
          font-family: Baloo2-regular;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;

          color: #FFFFFF;
        }
      }
    }
  }

  .footer-copy-right{
    position: relative;
    text-align: center;
    padding: 30px 0px 5px 0px;

    .copy-right{
      font-family: Baloo2-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;

      color: #FFFFFF;
    }
  }
}
