<div class="swiper-fruitee">
  <div class="row">
    <div class="col-md-6">
      <div class="fruitee">
        <div class="title">Fruitee <br> vietnam</div>
        <div class="percen">100%</div>
        <div class="text">nguyên chất</div>
      </div>
    </div>
    <div class="col-md-6">
      <swiper [config]="config">

        <div class="swiper-wrapper">

          <div class="swiper-slide" *ngFor="let slide of slideData" [routerLink]="['/menu']">
            <img class="img-swiper" src="{{slide.img}}"/>
          </div>

        </div>
      </swiper>
    </div>
  </div>
</div>
