<div class="topping">
  <div class="topping-border">
    <div class="title">topping</div>
    <div class="gird-template-topping">
      <div class="topping-1">
        <img src="../../../../../../assets/Images/topping-1.png" alt="topping-1" class="topping-img">
        <p class="topping-title">Thạch pudding</p>
        <p class="topping-money">5,000đ</p>
      </div>
      <div class="topping-2">
        <img src="../../../../../../assets/Images/topping-2.png" alt="topping-2" class="topping-img">
        <p class="topping-title">Thạch thảo mộc</p>
        <p class="topping-money">5,000đ</p>
      </div>
      <div class="topping-3">
        <img src="../../../../../../assets/Images/topping-3.png" alt="topping-3" class="topping-img">
        <p class="topping-title">Trân châu mini</p>
        <p class="topping-money">5,000đ</p>
      </div>
      <div class="topping-4">
        <img src="../../../../../../assets/Images/topping-4.png" alt="topping-1" class="topping-img">
        <p class="topping-title">Trân châu đen</p>
        <p class="topping-money">5,000đ</p>
      </div>
      <div class="topping-5">
        <img src="../../../../../../assets/Images/topping-5.png" alt="topping-1" class="topping-img">
        <p class="topping-title">Thạch chanh dây</p>
        <p class="topping-money">5,000đ</p>
      </div>
    </div>
  </div>
</div>
