.topping{
  box-sizing: border-box;
  padding: 75px 150px;

  position: relative;

  &-border{
    width: 100%;
    height: 348px;

    border: 5px solid #D9E021;
    box-sizing: border-box;
    padding: 66px 55px;

    .title{
      position: absolute;
      top: 5%;
      left: 40%;
      width: 259.64px;
      height: 100px;

      background: #D9E021;

      box-sizing: border-box;
      padding: 30px 14px;

      font-family: LilitaOne-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: 35px;
      line-height: 40px;

      text-transform: uppercase;
      letter-spacing: 0.4em;

      color: #FFFFFF;
    }

    .gird-template-topping{
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      .topping-1{
        order: 1;
      }

      .topping-2{
        order: 2;
      }

      .topping-3{
        order: 3;
      }

      .topping-4{
        order: 4;
      }

      .topping-5{
        order: 5;
      }

      .topping-1,.topping-2,.topping-3,.topping-4,.topping-5{
        .topping-img{
          display: block;
          margin: auto;

          width: 85%;
          object-fit: cover;
        }

        .topping-title{
          font-family: Baloo2-bold;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 28px;
          text-align: center;

          color: #808080;
          margin: 0px;
        }

        .topping-money{
          font-family: Baloo2-regular;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 28px;
          text-align: center;

          color: #808080;
        }
      }
    }
  }
}
